.vscode/
backend/__pycache__/

FeaturePipeline/*.pdf
FeaturePipeline/client_secrets.json
FeaturePipeline/credentials.json
FeaturePipeline/settings.yaml
backend/*.pdf

backend/faiss_index_*
faiss_index_*

.DS_Store
.env